body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Helvetica;
    background-color: #232b35; 
    text-align:center;
    margin: 0px;
  }
  


h1 {
    color: #2E2E2E;
    font-size: 36px;
    margin-top: 50px;
}

h2{
    color: #fff;
}

p {
    color: rgb(217, 217, 227);
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: rgb(217, 217, 227);
    display: flex;
    text-align: center;
    font-weight: bold;
    height: 50px;
    width: 150px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.button:hover {
    background-color: #2b632d;
    color: rgb(217, 217, 227);
}

/* Header styles */

.header {
  background-color: rgb(52, 53, 65);
  width: 100%;
  color: rgb(217, 217, 227);
  
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* adds thin black border underneath the header */
    border-bottom: .3px solid #000;
  
  

}
.logo {
   margin-top: 10px;
}

.logo img {
  
  width: 75%;
  object-fit: cover;
  float: center;
}

.header-title {
	margin-top: 50px;
	text-align: center;
}

.navigation {
    font-size: 36px;
	display: flex;
	
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.topnav a {
    background-color: rgb(68, 70, 84);
	color: #fff;
    padding: 5px;
	text-decoration: none;
    margin-top: 20px;
	margin-left: 20px;
	font-weight: bold;
	display: flex;
    align-items: center;
    border-radius: 5px;
    

}

.topnav a:hover {
    background-color: #4CAF50;
    color: rgb(217, 217, 227);
}

.topnav {
  overflow: hidden;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 1250px) {
    .topnav {

        justify-content: center;
    }


   


}

/* Footer styles */

.footer {
    width: 100%;
    background-color: rgb(52, 53, 65);
    color: rgb(217, 217, 227);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5px;
    text-align: center;
}

.footer p {
    margin-bottom: 0;
}


/* Section styles */

.mainBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 0px;
    flex: 1;
}

.left-imageAbout{
    width: 25%;
    margin-right: 10px;

}
.left-imageAbout img{
    width: 100%;
    border-radius: 5px;
    
}

.left-image, .right-image{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    
    
}

.left-image img, .right-image img{
    width: 70%;
    border-radius: 5px;

}

.single-image{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;

}

.single-image img{
    width: 70%;
    border-radius: 5px;
}

.signinContainer{
    width: 30%;
}



.section-title {
    font-size: 24px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.section-description {
    font-size: 18px;
    line-height: 1.5;
}

.bodyContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.rightContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main-text {
    display: flex;
    flex-direction: column;
    width: 70%;
    
}

.section-title{
    width: 100%;
    background-color: rgb(52, 53, 65);
}

/* Form styles */

.form-Group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
}


form {
    background-color: rgb(52, 53, 65);
    width: 100%;
    display: flex;
    margin-top: 30px;
    border-radius: 5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* spacing between the rows */
}


.input-group {
    width: 48%; /* this allows for a tiny space between two input groups in the same row */
    display: flex;
    flex-direction: column;
}

.form-group{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




label {
    margin-bottom: 5px; /* spacing between label and input */
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd; /* Just a bottom border */
    background-color: transparent; 
    padding: 10px 0;
    font-size: 16px;
    color: #aaa; /* Placeholder color */
    transition: border-color 0.3s ease; /* Smooth transition */
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.1); /* Subtle shadow */
    outline: none; /* Remove default focus outline */
    text-align: center;
}



input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{
    border-color: #4CAF50; /* Change border color on focus */
    color: rgb(217, 217, 227); /* Text color */
}



input[type="text"]::placeholder {
    color: #aaa; /* Placeholder color */
}

input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: rgb(217, 217, 227);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 10px;
}



/* Responsive styles */

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    
    .navigation {
        margin-top: 20px;
    }
    
    .navigation a {
        margin-left: 0;
        margin-right: 30px;
    }
}

.club-info {
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    background-color: rgb(52, 53, 65);
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
  }


  h3{
    color: #fff;
    margin-bottom: 0px;
  }


  .club-info h4{
    
    margin-bottom: 0px;
  }
  
  .club-info-Container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
    box-sizing: border-box;
  }


  @media (max-width: 1250px) {
    .left-imageAbout {
        width: 70%;  
        display: flex; 
        margin-bottom: 10px; 
        padding-right: 0px;
        flex-direction: column;
    }

    .signinContainer{
        width: 80%;
    }

    .leftContainer{
        width: 100%;
    }
    .rightContainer{
        width: 100%;
    }
}
